.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    padding: 0 20px;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    .logo{
        display: flex; align-items: center; gap: 10px;
        .music-icon{color: crimson; position: relative; bottom: -5px;}
    }
}