.home-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 25px;
  padding: 25px;
  border-top: 1px solid #3d3d3d;

  // height: calc(100vh - 155px);
  .songlist-bx,
  .info-bx {
    width: 50%;
  }
  .info-bx {
    display: flex;
    flex-direction: column;
    gap: 20px;
    button {
      width: fit-content;
    }
    .user-name {
      color: crimson;
      text-transform: capitalize;
    }
  }
  .songlist-bx {
    .headphone-icon {
      color: crimson;
    }
  }
  @media screen and (max-width: 768px) {
    flex-direction: column;
    .songlist-bx,
    .info-bx {
      width: 100%;
    }
  }
}
